.parent_sortBook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0;
}
.parent_sortBook button {
  width: 230px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 134%;
  color: #FF4004;
  border-radius: 10px;
  border: 1px solid #FF4004;
  background: #fff;
  cursor: pointer;
}
.parent_sortBook .active_usersBook {
  background: #FF4004;
  color: #fff;
}