.parent_theBest
    padding: 100px 0px
    .child_theBest
        .mainText_theBest
            text-align: center
            display: flex
            justify-content: center
            align-items: end
            h2
                font-weight: 700
                font-size: 60px
                line-height: 125.3%
                color: #000000
            h2::first-letter
                font-family: 'Pacifico'
                font-style: normal
                font-weight: 400
                font-size: 96px
                line-height: 125.3%
                letter-spacing: 10px
                color: #FF4004


