.parent_bestWork
    background-color: #F4EEEE
    border-radius: 10px
    padding: 30px 50px 40px
    margin: 0 0 114px 0
    .child_bestWork
        width: 100%
        display: flex
        justify-content: center
        gap: 67px
        .inner_bestWork
            padding: 18px 22px
            background: #F5F5F5
            box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3), 1px 1px 2px rgba(123, 123, 123, 0.5), inset 2px -2px 4px rgba(123, 123, 123, 0.2), inset -2px 2px 4px rgba(123, 123, 123, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.9), inset -2px -2px 5px rgba(123, 123, 123, 0.9)
            border-radius: 10px
            div
                width: 150px
                height: 200px
                margin: 0 auto
                img
                    width: 100%
                    height: 100%
            h3
                font-weight: 500
                font-size: 22px
                line-height: 125.3%
                color: #000000
                text-align: center
                margin: 8px 0px
            p
                font-weight: 400
                font-size: 16px
                line-height: 125.3%
                color: #000000
                text-align: center
            section
                width: 100%
                height: 20px
                // background: gray
                margin-top: 10px
        // li:nth-child(1)
        //     /* //////////////animation///////////////// */
        //     animation-name: bestWork_1
        //     animation-duration: 0.3s
        //     animation-iteration-count: 1
        //     animation-timing-function: ease
        //     transition: all 0.5s
        //     @keyframes bestWork_1 
        //         0% 
        //             transform: translateX(250px)
        //             opacity: 0
        //         20% 
        //             transform: translateX(220px)
        //             opacity: 0.5
        //         40% 
        //             transform: translateX(200px)
        //             opacity: 0.8
        //         60%
        //             transform: translateX(150px)
        //             opacity: 1
        //         80%
        //             transform: translateX(100px)
        //         100%
        //             transform: translateX(0px)
        // li:nth-child(2)
        //     /* //////////////animation///////////////// */
        //     animation-name: bestWork_2
        //     animation-duration: 0.3s
        //     animation-iteration-count: 1
        //     animation-timing-function: ease
        //     transition: all 0.5s
        //     @keyframes bestWork_2
        //         0% 
        //             transform: translateX(-250px)
        //             opacity: 0
        //         20% 
        //             transform: translateX(-220px)
        //             opacity: 0.5
        //         40% 
        //             transform: translateX(-200px)
        //             opacity: 0.8
        //         60%
        //             transform: translateX(-150px)
        //             opacity: 1
        //         80%
        //             transform: translateX(-100px)
        //         100%
        //             transform: translateX(0px)
        // li:nth-child(3)
        //     /* //////////////animation///////////////// */
        //     animation-name: bestWork_3
        //     animation-duration: 0.3s
        //     animation-iteration-count: 1
        //     animation-timing-function: ease
        //     transition: all 0.5s
        //     @keyframes bestWork_3
        //         0% 
        //             transform: translateX(250px)
        //             opacity: 0
        //         20% 
        //             transform: translateX(220px)
        //             opacity: 0.5
        //         40% 
        //             transform: translateX(200px)
        //             opacity: 0.8
        //         60%
        //             transform: translateX(150px)
        //             opacity: 1
        //         80%
        //             transform: translateX(100px)
        //         100%
        //             transform: translateX(0px)
        // li:nth-child(4)
        //     /* //////////////animation///////////////// */
        //     animation-name: bestWork_4
        //     animation-duration: 0.3s
        //     animation-iteration-count: 1
        //     animation-timing-function: ease
        //     transition: all 0.5s
        //     @keyframes bestWork_4
        //         0% 
        //             transform: translateX(-250px)
        //             opacity: 0
        //         20% 
        //             transform: translateX(-220px)
        //             opacity: 0.5
        //         40% 
        //             transform: translateX(-200px)
        //             opacity: 0.8
        //         60%
        //             transform: translateX(-150px)
        //             opacity: 1
        //         80%
        //             transform: translateX(-100px)
        //         100%
        //             transform: translateX(0px)
