.parent_detailed {
  padding-top: 80px;
}
.parent_detailed .child_detailed .detailed_header {
  background-image: url("../../assests/images/Detailed/page_book.png");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner div {
  width: 500px;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner section {
  max-width: 600px;
  background: linear-gradient(104.04deg, #E8D9BA 0%, rgba(217, 217, 217, 0.53) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 24px 24px 40px 24px;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner section h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 38px;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner section p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: #000000;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner section div {
  text-align: right;
  padding-top: 18px;
}
.parent_detailed .child_detailed .detailed_header .detailed_header_inner section div button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.3%;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  background-color: #FF4004;
}
.parent_detailed .child_detailed .detailed_text {
  width: 100%;
  background: red;
}
.parent_detailed .child_detailed .detailed_text h2 {
  margin: 32px 0 24px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}
.parent_detailed .child_detailed .detailed_text p {
  margin-top: 65px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #000000;
}