.parent_settingUser {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  padding: 60px 0 0 0;
}
.parent_settingUser > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  width: 100%;
  margin-bottom: 40px;
}
.parent_settingUser > div:nth-child(1) h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.3%;
  color: #000000;
}
.parent_settingUser > div:nth-child(1) > div {
  width: 40px;
  height: 40px;
}
.parent_settingUser > div:nth-child(1) > div img {
  width: 100%;
  height: 100%;
}
.parent_settingUser .child_settingUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}