.readerParent {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.readerParent .bookText {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.11em;
  color: black;
  text-align: left;
  white-space: pre-wrap;
  margin: 0 auto;
  margin-top: 40px;
  width: 1350px;
  min-height: 500px;
}
@media screen and (max-width: 1430px) {
  .readerParent .bookText {
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  .readerParent .bookText {
    font-size: 22px;
  }
}
.readerParent .textOptionsParent {
  position: absolute;
  right: -422px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.readerParent .textOptionsParent .settingImg {
  background-color: #000000;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: 0 0 50px rgba(119, 119, 119, 0.1764705882);
          box-shadow: 0 0 50px rgba(119, 119, 119, 0.1764705882);
  cursor: pointer;
  padding: 5px;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.readerParent .textOptionsParent .textOptions {
  font-size: 32px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 96px 50px;
  gap: 20px;
  -webkit-box-shadow: 0 0 50px rgba(119, 119, 119, 0.1764705882);
          box-shadow: 0 0 50px rgba(119, 119, 119, 0.1764705882);
  border-radius: 0 0 0 10px;
  color: #2a2a2a;
  -webkit-transition: 250ms;
  transition: 250ms;
}
@media screen and (max-width: 480px) {
  .readerParent .textOptionsParent .textOptions {
    padding: 48px 25px;
  }
}
@media screen and (max-width: 430px) {
  .readerParent .textOptionsParent .textOptions {
    font-size: 22px;
  }
}
.readerParent .textOptionsParent .textOptions select {
  width: 150px;
  height: 35px;
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
}
.readerParent .textOptionsParent .textOptions input {
  width: 300px;
}
@media screen and (max-width: 430px) {
  .readerParent .textOptionsParent .textOptions input {
    width: 150px;
  }
}
.readerParent .textOptionsParent .textOptions button {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(83, 83, 83, 0.3490196078);
          box-shadow: 0 0 10px rgba(83, 83, 83, 0.3490196078);
  border-radius: 10px;
}

.paginationContainer {
  margin-top: 60px;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 42px;
}
@media screen and (max-width: 970px) {
  .paginationContainer {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .paginationContainer {
    padding: 0 20px;
  }
}
.paginationContainer .paginationPrev, .paginationContainer .paginationNext {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: white;
  background-color: #FF4004;
  padding: 10px 26px;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .paginationContainer .paginationPrev, .paginationContainer .paginationNext {
    font-size: 20px;
  }
}
.paginationContainer .paginationNum, .paginationContainer .paginationBreak {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .paginationContainer .paginationNum, .paginationContainer .paginationBreak {
    font-size: 28px;
  }
}
.paginationContainer .paginationActiveNum {
  background-color: #FF4004;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}