.library_parentBlock {
  padding: 100px 0 0 0;
}
.library_parentBlock .library_childBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.library_parentBlock .library_childBlock .library_info {
  width: 75%;
}
.library_parentBlock .library_childBlock .library_info .library_mainContent {
  margin-top: 64px;
}
.library_parentBlock .library_childBlock .library_sortBlock {
  width: 25%;
}