.library_parentBlock
    padding: 100px 0 0 0 
    .library_childBlock
        display: flex
        justify-content: center
        gap: 20px
        .library_info
            width: 75%
            .library_mainContent
                margin-top: 64px
        .library_sortBlock
            width: 25%
