.parent_settingUser {
  width: 100%;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0 0 62px;
  position: relative;
}
.parent_settingUser .popUpWindow {
  -webkit-transition: 500ms;
  transition: 500ms;
  width: 360px;
  height: 150px;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  color: #2a2a2a;
  font-size: 22px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.1882352941);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.1882352941);
}
.parent_settingUser > section {
  display: block;
  background: #C0C0C0;
  height: 135px;
}
.parent_settingUser .child_settingUser {
  position: relative;
  margin: -70px 0px 22px;
}
.parent_settingUser .child_settingUser .nameUser_settingUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.parent_settingUser .child_settingUser .nameUser_settingUser div:nth-child(1) {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: gray;
}
.parent_settingUser .child_settingUser .nameUser_settingUser div:nth-child(1) img {
  width: 99%;
  height: 99%;
  border-radius: 50%;
}
.parent_settingUser .child_settingUser .nameUser_settingUser div:nth-child(2) span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  color: #000000;
}
.parent_settingUser .child_settingUser .infoUser_settingUser {
  margin: 20px 0 0 0;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 50px rgba(104, 104, 104, 0.25);
          box-shadow: 2px 2px 50px rgba(104, 104, 104, 0.25);
}
.parent_settingUser .child_settingUser .infoUser_settingUser > div {
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid gray;
}
.parent_settingUser .child_settingUser .infoUser_settingUser > div > div p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #7C7C7C;
}
.parent_settingUser .child_settingUser .infoUser_settingUser > div > div h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  color: #2A2A2A;
  margin-top: 15px;
}
.parent_settingUser .child_settingUser .infoUser_settingUser > div button {
  border: 3px solid #FF4004;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.3%;
  color: #FF4004;
  padding: 10px 100px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.parent_settingUser .child_settingUser .infoUser_settingUser > div:last-child {
  border: none;
}