.parent_deaderDetailed {
  width: 100%;
  padding: 80px 0px;
  background: #EEF1F5;
}
.parent_deaderDetailed .child_detailed {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.parent_deaderDetailed .child_detailed .child_img_detailed {
  width: 250px;
  height: 375px;
  border-radius: 10px;
}
.parent_deaderDetailed .child_detailed .child_img_detailed img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.parent_deaderDetailed .child_info_detailed {
  width: 480px;
  padding: 25px 0 0 0;
}
.parent_deaderDetailed .child_info_detailed li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}
.parent_deaderDetailed .child_info_detailed li h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #000000;
  width: 30%;
}
.parent_deaderDetailed .child_info_detailed li span {
  display: block;
  font-weight: 600;
  font-size: 22px;
  line-height: 125.3%;
  color: #2A2A2A;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  text-align: right;
}
.parent_deaderDetailed .child_info_detailed li:last-child {
  text-align: center;
}
.parent_deaderDetailed .child_info_detailed li:last-child button {
  display: block;
  margin: 20px auto 0;
  padding: 16px 146px;
  background: #FF4004;
  border-radius: 10px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 125.3%;
  color: #FFFFFF;
}