.parent_ourWriters > div:nth-child(1) {
  text-align: center;
  margin: 50px 0 45px;
}
.parent_ourWriters > div:nth-child(1) h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 125.3%;
  color: #000000;
}
.parent_ourWriters > div:nth-child(1) h2 span {
  color: #FF4004;
}
.parent_ourWriters > div:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.parent_ourWriters > div:nth-child(2) > div > div {
  background: #fff;
  border-radius: 15px;
  padding: 10px 25px;
}
.parent_ourWriters > div:nth-child(2) > div > div .inner_img_ourWriters {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.parent_ourWriters > div:nth-child(2) > div > div .inner_img_ourWriters img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.parent_ourWriters > div:nth-child(2) > div > div .inner_text_ourWriters {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #FF4004;
  text-align: center;
  padding: 3px;
}
.parent_ourWriters > div:nth-child(2) > div > div .inner_text_ourWriters h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FF4004;
  margin-bottom: 5px;
}
.parent_ourWriters > div:nth-child(2) > div > div .inner_text_ourWriters p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FF4004;
}
.parent_ourWriters .btn_more {
  text-align: center;
}
.parent_ourWriters .btn_more button {
  margin-top: 60px;
  width: 250px;
  height: 50px;
  background-color: #FF4004;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 125.3%;
}