.child_reading
    padding: 100px 0 0 0
    height: 76vh
    display: flex
    justify-content: center
    align-items: center
    div
        h1
        display: block
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 36px
        line-height: 125.3%
        color: #7C7C7C
        padding: 0px 0px 40px 0px
        p
            display: block
            font-family: 'Roboto'
            font-style: normal
            font-weight: 500
            font-size: 36px
            line-height: 125.3%
            color: #7C7C7C
        span
            color: #FF4004
            // font-size: 36px
            font-family: "Pacifico"
            font-weight: 500
        button
            font-family: 'Roboto'
            font-style: normal
            font-weight: 500
            font-size: 36px
            line-height: 125.3%
            color: #FF4004
            border: none
            background: transparent
            cursor: pointer
            
            
