.child_reading {
  padding: 100px 0 0 0;
  height: 76vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.child_reading div {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  color: #7C7C7C;
  padding: 0 0 40px 0;
}
.child_reading div p {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  color: #7C7C7C;
}
.child_reading div button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 125.3%;
  color: #FF4004;
  border: none;
  background: transparent;
  cursor: pointer;
}