.parent_logOut {
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.parent_logOut button {
  color: #FF4004;
  padding: 10px 150px;
  border-radius: 10px;
  border: 3px solid var(--unnamed, #FF4004);
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 125.303%;
  cursor: pointer;
}
.parent_logOut button:hover {
  background-color: #efe3e3;
}