.parent_userBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding-top: 100px;
  position: relative;
}
.parent_userBlock .child_books_userBlock {
  width: 75%;
}
.parent_userBlock .child_user_userBlock {
  width: 20%;
  padding-bottom: 100px;
}
.parent_userBlock .child_user_userBlock .parent_settingBlock {
  padding: 75px 0;
}
.parent_userBlock .child_user_userBlock .parent_settingBlock button {
  border: 2px solid #FF4004;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.3%;
  color: #FF4004;
  background: transparent;
  background-image: url("../../assests/images/Setting/setting_img.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-x: 95%;
  background-position-y: 50%;
  padding: 8px 50px 8px 10px;
  -webkit-box-shadow: 2px 2px 50px rgba(104, 104, 104, 0.25);
          box-shadow: 2px 2px 50px rgba(104, 104, 104, 0.25);
  border-radius: 10px;
  cursor: pointer;
}