.parent_userBlock
    background-color: #f4f2f2
    padding: 100px 0 150px    
    .child_userBlock
        padding: 0px 20px
        .block_for_sorts
            width: 100%
            display: flex
            justify-content: space-between
            margin-top: 23px
