.parent_authors {
  padding: 100px 0px;
}
.parent_authors .child_authors .card_authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  height: 520px;
  width: 1140px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 90px;
}
.parent_authors .child_authors .card_authors_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  margin: 50px;
}
.parent_authors .child_authors .card_authors_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  margin-right: 36px;
  margin-bottom: 96px;
}
.parent_authors .child_authors .card_authors_right #tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin-left: 300px;
  padding: 36px 60px 0 90px;
}
.parent_authors .child_authors .card_authors_right #tab button {
  width: 156px;
  height: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.3%;
  color: #FFFFFF;
  background-color: #FF4004;
  border-radius: 10px;
}
.parent_authors .child_authors .card_authors_right #first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 602px;
  height: 108px;
}
.parent_authors .child_authors .card_authors_right #first h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 125.3%;
  color: black;
  margin-bottom: 80px;
}
.parent_authors .child_authors .card_authors_right #first p {
  font-family: "Roboto";
  line-height: 125.3%;
  color: black;
  margin-left: 20px;
}
.parent_authors .child_authors .mainText_authors {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.parent_authors .child_authors .mainText_authors span {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 125.3%;
  color: #FF4004;
}
.parent_authors .child_authors .mainText_authors h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 125.3%;
  color: #000000;
}
.parent_authors .child_authors .nav_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}