.parent_userBook {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.parent_userBook .list {
  color: #000000;
  padding: 10px 0;
}
.parent_userBook .list li {
  margin-bottom: 20px;
}
.parent_userBook .list li .bookCont {
  margin: 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parent_userBook .list li .bookCont img {
  height: 91px;
  width: 61px;
}